img.radius {
    object-fit: cover;
    border-radius: 8px;
}

img.slider {
    width: 100%;
    height: 140px;
}

img.slidebar {
    width: 100%;
    height: 140px;
}

img.product-new {
    width: 100%;
    height: 250px;
}

img.products-item {
    width: 100%;
    height: 160px;
}

.center-table-content {
    text-align: center !important;
    vertical-align: middle !important;
}

.text-center {
    text-align: center !important;
}


.flex-column {
    display: flex;
    flex-direction: column;
}

/* -------------------- Load More --------------- */
.load_more{
    text-align: center;
}
.load_more button{
    padding: 10px 25px;
    margin-bottom: 20px;
    border: 1px solid #555;
    text-transform: capitalize;
}